@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --azul-escuro: #3A3D99;
    --bege-claro: #FAF3E0;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: var(--bege-claro);
}

.nav-link {
    color: var(--azul-escuro);
    font-weight: 600;
}

.inicio-fundo {
    background-image: url('img/bg-cx.jpg');
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}

.img-inicio {
    position: absolute;
    right: 0;
    top: 18rem;
    width: 45rem;
    height: auto;
}

.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.botao-inicio {
    background-color: var(--azul-escuro);
    color: white;
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;
}

.display-4 {
    text-shadow: -5px 5px var(--azul-escuro);
}

#historia {
    position: relative;
    padding-top: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('img/violao.png') top right no-repeat,
                url('img/violao-esquerdo.png') bottom left no-repeat;
    background-size: 180px 180px;
}

h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--azul-escuro);
}

#galeria {
    background-color: var(--bege-claro);
}

.fundo-galeria {
    background: url('img/nota-musical.png') bottom right no-repeat;
    background-size: 180px 180px;
}

#contato {
    background-image: url('img/bg-cx.jpg');
    background-size: cover;
    padding: 4rem 0;
}

.formulario {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--azul-escuro);
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: #F1EDEF;
}


.timeline {
    list-style: none;
    padding: 0;
}

.timeline li {
    background: var(--bege-claro);
    border-left: 4px solid var(--azul-escuro);
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    width: 80%;
}

